<div class="main-container">
    <div class="row">
        <div class="col-sm-3 align-flex-content">
            <div class="card">
                <img src="../../assets/images/Get Paid Instantly.png" alt="">
                <div class="heading">
                    Quick cash disbursement
                </div>
                <article>
                    Get terms loans that your bussiness needs within 72 hrs
                </article>
            </div>
            <div class="card">
                <img src="../../assets/images/Low interest rate.png" alt="">
                <div class="heading">
                    Quick cash disbursement
                </div>
                <article>
                    Get terms loans that your bussiness needs within 72 hrs
                </article>
            </div>
            <div class="card">
                <img src="../../assets/images/Secure Payments.png" alt="">
                <div class="heading">
                    Quick cash disbursement
                </div>
                <article>
                    Get terms loans that your bussiness needs within 72 hrs
                </article>
            </div>
        </div>
        <div class="col-sm-3 align-flex-content">
            <div class="card">
                <img src="../../assets/images/freelancer_feature_icon_6@1.5x.png" alt="">
                <div class="heading">
                    Quick cash disbursement
                </div>
                <article>
                    Get terms loans that your bussiness needs within 72 hrs
                </article>
            </div>
            <div class="card">
                <img src="../../assets/images/Covid.png" alt="">
                <div class="heading">
                    Quick cash disbursement
                </div>
                <article>
                    Get terms loans that your bussiness needs within 72 hrs
                </article>
            </div>
        </div>
        <div class="col-sm-6 align-flex-content-3">
            <h1>Boost your business with Open</h1>
            <div class="line"></div>

            <article class="width-50 margin-25 font-bold">
                Get your hands on a term loan that's crafted for your bussiness
            </article>

            <button class="btn opn-btn">
                Get an Open Account
            </button>

        </div>
    </div>
</div>