<nav [ngClass]="isStickyNav ? 'bg-opac' : ''">
    <span class="brand">
        <img src="../../assets/images/logo.png" alt="logo" [ngClass]="isStickyNav ? 'reduce-brand-size' : ''">
    </span>

    <ul class="nav-items">
        <li>Products</li>
        <li>Solutions</li>
        <li>Pricing</li>
        <li><button type="button" class="btn font-purple">Login</button></li>
        <li><button type="button" class="btn background-purple extra-left-right-padding-btn">Get Started</button></li>
    </ul>

</nav>